@model CV_Online.Models.EmploymentHistory

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Employment History of @Html.DisplayFor(model => model.PersonalInformation.FirstName) @Html.DisplayFor(model => model.PersonalInformation.MiddleName) @Html.DisplayFor(model => model.PersonalInformation.LastName)</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>EmploymentHistory</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyBusiness)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyBusiness)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyLocation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyLocation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Department)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Department)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PositionHeld)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PositionHeld)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Responsibilities)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Responsibilities)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.From)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.From)
    </div>

    @if(Model.IsContinue)
    {
        <div class="display-label">
             @Html.DisplayNameFor(model => model.To)
             <p>Present</p>
        </div>
    }
    else
    {
         <div class="display-label">
             @Html.DisplayNameFor(model => model.To)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.To)
        </div>

    }

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PersonalInformation.FathersName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PersonalInformation.FathersName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
