@model IEnumerable<CV_Online.Models.EmploymentHistory>

@{
    ViewBag.Title = "Index";
}

<h2>Employment Histories</h2>

<p>
    @Html.ActionLink("Add New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyBusiness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PositionHeld)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Responsibilities)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyBusiness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PositionHeld)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Responsibilities)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
            @if (item.To!=item.From)
            {
                @Html.DisplayFor(modelItem => item.To)
            }
            else
            {
                <p>Present</p>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalInformation.FathersName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
