@model CV_Online.Models.ProfessionalQualification

@{
    ViewBag.Title = "Details";
}

<h2>Professional Qualification of @Html.DisplayFor(model => model.PersonalInformation.FirstName) @Html.DisplayFor(model => model.PersonalInformation.MiddleName) @Html.DisplayFor(model => model.PersonalInformation.LastName)</h2>

<fieldset>
    <legend>ProfessionalQualification</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Certification)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Certification.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Institution)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Institution.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.From)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.From)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.To)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.To)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
