@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("PersonalInformation", "Details", "PersonalInformation")</li>
        <li>@Html.ActionLink("Education", "Index", "Education")</li>
        <li>@Html.ActionLink("EmploymentHistory", "Index", "EmploymentHistory")</li>
        <li>@Html.ActionLink("ProfessionalQualification", "Index", "ProfessionalQualification")</li>
        <li>@Html.ActionLink("LanguageProficiency", "Index", "LanguageProficiency")</li>
        <li>@Html.ActionLink("Reference", "Index", "Reference")</li>
        <li>@Html.ActionLink("Specialization", "Index", "Specialization")</li>
        <li>@Html.ActionLink("Training", "Index", "Training")</li>
        <li>@Html.ActionLink("UserProfile", "Index", "UserProfile")</li>
        <li>@Html.ActionLink("MaritalStatus", "Index", "MaritalStatus")</li>
        <li>@Html.ActionLink("Language", "Index", "Language")</li>
        <li>@Html.ActionLink("Institution", "Index", "Institution")</li>
        <li>@Html.ActionLink("Gender", "Index", "Gender")</li>
        <li>@Html.ActionLink("EducationLevel", "Index", "EducationLevel")</li>
        <li>@Html.ActionLink("ConcentrationMajorGroup", "Index", "ConcentrationMajorGroup")</li>
        <li>@Html.ActionLink("Certification", "Index", "Certification")</li>
         <li>@Html.ActionLink("UploadPhoto", "Index", "ImageFile")</li>
        
    </ul>
</aside>