@model CV_Online.Models.Training

@{
    ViewBag.Title = "Details";
}

<h2>Training Details @Html.DisplayFor(model => model.PersonalInformation.FirstName) @Html.DisplayFor(model => model.PersonalInformation.MiddleName) @Html.DisplayFor(model => model.PersonalInformation.LastName)</h2>

<fieldset>
    <legend>Training</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TrainingTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TrainingTitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TopicsCovered)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TopicsCovered)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Institute)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Institute)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TrainingCompletionYear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TrainingCompletionYear)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Duration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duration)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
