@model CV_Online.Models.LanguageProficiency
@using CV_Online.EnumHelper
@{
    ViewBag.Title = "Create";
}

<h2>Add Language Proficiency</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>LanguageProficiency</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Reading)
        </div>
        <div class="editor-field">
@*            @Html.DropDownListFor(m=>m.ProficiencyType, new SelectList(Enum.GetValues(typeof(CV_Online.Models.LanguageProficiency.Proficiency))))*@
            @Html.ValidationMessageFor(model => model.Reading)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Writing)
        </div>
        <div class="editor-field">
            @Html.ValidationMessageFor(model => model.Writing)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Speaking)
        </div>
        <div class="editor-field">
            @Html.ValidationMessageFor(model => model.Speaking)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LanguageId, "Language")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LanguageId", String.Empty)
            @Html.ValidationMessageFor(model => model.LanguageId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
